{% extends 'grace/base1.html' %}
{% block content %}
{% load static %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header2 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">About Us</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">About Us</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                        <img class="position-absolute w-100 h-100 pt-5 pe-5" src="{% static 'asset/img/church/pastor-main.jpg' %}" alt="" style="object-fit: cover;">
                        <img class="position-absolute top-0 end-0 bg-white ps-2 pb-2" src="{% static 'asset/img/church/churchp-1.jpg' %}" alt="" style="width: 200px; height: 200px;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="h-100">
                        <div class="d-inline-block rounded-pill bg-secondary text-white py-1 px-3 mb-3">About Us</div>
                        <h1 class="display-6 mb-5">A church that loves God and people</h1>
                        <div class="bg-light border-bottom border-5 border-primary rounded p-4 mb-4">
                            <p class="text-dark mb-2">C
                                alvary Baptist Church-Awoshie has carried the mission to worship GOD 
                                whenever and wherever. Submitting completely to the Holy Spirit, Giving 
                                our best for GOD’S work and Sharing our Faith through Effective Christian 
                                Living.</p>
                            <span class="text-primary">In-HIS Service, Pastor Rex</span>
                        </div>
                        <p class="mb-5">This mission has led to a vibrant congregation that is positively impacting its 
                            community the past 20 years. And in 2016 there was a divine direction to replicate 
                            this impact beyond our immediate environs, resulting in the vision in 2017 to 
                            plant at least 3 Mission Churches by 2021 to celebrate the 25th Anniversary of
                            Calvary Baptist Church-Awoshie.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
	<!-- Start Align Area -->
	<div class="whole-wrap">
		<div class="container box_1170">
			{% comment %} <div class="section-top-border">
				<h3 class="mb-30">Left Aligned</h3>
				<div class="row">
					<div class="col-md-3">
						<img src="img/elements/d.jpg" alt="" class="img-fluid">
					</div>
					<div class="col-md-9 mt-sm-20">
						<p>Recently, the US Federal government banned online casinos from operating in America by making
							it illegal to
							transfer money to them through any US bank or payment system. As a result of this law, most
							of the popular
							online casino networks such as Party Gaming and PlayTech left the United States. Overnight,
							online casino
							players found themselves being chased by the Federal government. But, after a fortnight, the
							online casino
							industry came up with a solution and new online casinos started taking root. These began to
							operate under a
							different business umbrella, and by doing that, rendered the transfer of money to and from
							them legal. A major
							part of this was enlisting electronic banking systems that would accept this new
							clarification and start doing
							business with me. Listed in this article are the electronic banking systems that accept
							players from the United
							States that wish to play in online casinos.</p>
					</div>
				</div>
			</div>
			<div class="section-top-border text-right">
				<h3 class="mb-30">Right Aligned</h3>
				<div class="row">
					<div class="col-md-9">
						<p class="text-right">Over time, even the most sophisticated, memory packed computer can begin
							to run slow if we
							don’t do something to prevent it. The reason why has less to do with how computers are made
							and how they age and
							more to do with the way we use them. You see, all of the daily tasks that we do on our PC
							from running programs
							to downloading and deleting software can make our computer sluggish. To keep this from
							happening, you need to
							understand the reasons why your PC is getting slower and do something to keep your PC
							running at its best. You
							can do this through regular maintenance and PC performance optimization programs</p>
						<p class="text-right">Before we discuss all of the things that could be affecting your PC’s
							performance, let’s
							talk a little about what symptoms</p>
					</div>
					<div class="col-md-3">
						<img src="img/elements/d.jpg" alt="" class="img-fluid">
					</div>
				</div>
			</div> {% endcomment %}
			<div class="section-top-border">
				<h3 class="mb-30">MEETING DAYS</h3>
				<div class="row">
					<div class="col-md-4">
						<div class="single-defination">
							<h4 class="mb-20">SUNDAYS</h4>
							<p>SUNDAYS
                                CHURCH SERVICE
                                8.00AM-10.30AM</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-defination">
							<h4 class="mb-20">FRIDAYS</h4>
							<p>PRAYER SERVICE
                                7.00PM-8.00PM.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-defination">
							<h4 class="mb-20">SATURDAYS</h4>
							<p>CHOIR REHEARSALS
                                1.00PM-3.00PM,
                                EVANGELISM
                                3.00PM-5.00PM
                        </div>
					</div>
				</div>
			</div>
            <div class="section-top-border">
				<h3 class="mb-30">Our vision</h3>
				<div class="row">
					<div class="col-lg-12">
						<blockquote class="generic-blockquote">
                            This vision has resulted in 4 Mission Churches: Calvary Baptist Church-Awoshie 
                            [Opeikuma Mission, Kpobiman Mission, New Legon Mission and the Grace 
                            Mission]. Grace Mission which we gloriously commission today to honour the 
                            Head of the Church Triumphant our LORD and Saviour Jesus Christ is a 
                            resurrected vision of the Dahwenya Mission instrumentally spearhead by the 
                            Aryeetey family.
						</blockquote>
					</div>
				</div>
			</div>
            <div class="section-top-border">
				<h3 class="mb-30">Our Mission</h3>
				<div class="row">
					<div class="col-lg-12">
						<blockquote class="generic-blockquote">
                        “To worship GOD whenever 
                        and wherever. Submitting 
                        completely to the Holy Spirit, 
                        Giving our best for GOD’S 
                        work and Sharing our Faith 
                        through Effective Christian 
                        Living”.
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Align Area -->
    <!-- Team End -->
    {% include 'grace/footer1.html' %}
    {% endblock content %}