{% extends 'grace/base1.html' %}
{% block content %}
{% load static %}
    <!-- Carousel Start -->
    <!-- Page Header Start -->
    <div class="container-fluid page-header3 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">Podcasts</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">church</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">podcast</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Carousel End -->
    <!-- youtube_video_area  -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <div class="d-inline-block rounded-pill bg-secondary text-white py-1 px-3 mb-3">Podcasts</div>
                <h1 class="display-6 mb-5">Listen to our podcasts</h1>
            </div>
            {% for podcasts_main in podcasts_main_list %}
            <div class="row align-items-center justify-content-center mb-20">
                <div class="col-xl-10">
                    <div class="row align-items-center">
                        <div class="col-xl-9 col-md-9">
                            <div class="music_field">
                                    <div class="audio_name">
                                        <div class="name">
                                            <h4>{{ podcasts_main.title }}</h4>
                                            <p>{{ podcasts_main.date }}</p>
                                        </div>
                                            <audio preload="auto" controls>
                                                <source src="{{ podcasts_main.audio_file.url }}">
                                            </audio>
                                        
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
            <!-- / youtube_video_area  -->
        </div>
    </div>
    
    <!-- Testimonial End -->
    {% include 'grace/footer1.html' %}
    <!-- JS here -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
crossorigin="anonymous">
</script>
<script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/ajax-form.js' %}"></script>
<script src="{% static 'assets/js/waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/audioplayer.js' %}"></script>
<script src="{% static 'assets/js/scrollIt.js' %}"></script>
<script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/nice-select.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="{% static 'assets/js/gijgo.min.js' %}"></script>
<script src="{% static 'assets/js/slick.min.js' %}"></script>
<!--contact js-->
<script src="{% static 'assets/js/contact.js' %}"></script>
<script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.form.js' %}"></script>
<script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>

<script src="{% static 'assets/js/main.js' %}"></script>

<script>
    $(function() {
        $('audio').audioPlayer({

        });
    });
</script>
    {% endblock content %}