{% extends 'grace/base1.html' %}
{% block content %}
{% load static %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header3 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">Our Pastors</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Our Church</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Pastors</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <div class="d-inline-block rounded-pill bg-secondary text-white py-1 px-3 mb-3">Pastors</div>
                <h1 class="display-6 mb-5">Pastors</h1>
            </div>
            <div class="row g-4">
                {% for church_pastors in church_pastors_list %}
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{{ church_pastors.image.url }}" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>{{ church_pastors.name }}</h5>
                            <p class="text-primary">{{ church_pastors.position }}</p>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href="{{ church_pastors.fb_account }}"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square" href="{{ church_pastors.twitter_account }}"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square" href="{{ church_pastors.ig_account }}"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Team End -->
    {% include 'grace/footer1.html' %}
    {% endblock content %}