	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/11/2019 05:21
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.45697f31ebd8.eot");
  src: url("../fonts/Flaticon.45697f31ebd8.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.084c16e3c641.woff2") format("woff2"),
       url("../fonts/Flaticon.c0f6e4c6f9cf.woff") format("woff"),
       url("../fonts/Flaticon.cdc839b891fb.ttf") format("truetype"),
       url("../fonts/Flaticon.cdc839b891fb.ttf") format("truetype"),
       url("../fonts/Flaticon.aba25315cc3b.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.aba25315cc3b.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 14px;
font-style: normal;
}

.flaticon-sound:before { content: "\f100"; }
.flaticon-add:before { content: "\f101"; }